#root {
  margin: 0;
  padding: 0;
}

.horizontal-heading {
  text-align: center;
  color: white;
  background-color: seagreen;
  margin: 0;
  padding: 10px;
}

h1 {
  margin: 0;
}

.vertical-heading {
  color: black;
}

.vertical-heading ul {
  list-style-type: none;
  position: fixed;
  overflow: auto;
  width: 15%;
  height: 100%;
  background-color: lightgreen;
  margin: 0;
  padding: 0;
}

.vertical-heading li {
  display: block;
  margin: 20px;
  cursor: pointer;
}

.vertical-heading li:hover:not(.active) {
  background-color: #555;
  color: white;
  padding: 8px 12px;
}